@import "sass/helper/variables";
@import "sass/helper/mixins";
@import "sass/pages/global-page";

$text-left: right;
$text-right: left;

.cutom-btn {
  margin-right: 10px;
}
header {
  .logo {
    text-align: $text-left;
  }
}

/*Start services*/
.services {
  .boxes {
    .box {
      h2 {
        text-align: $text-left;
      }
      p {
        text-align: $text-left;
      }
      a {
        text-align: $text-left;
      }
    }
  }
}
/*End services*/
/*Start services*/
.clint {
  .boxes {
    .box {
      .box-body {
        p {
          text-align: $text-left;
        }
        a {
          text-align: $text-left;
        }
      }
    }
  }
}
/*End services*/
footer {
  .blogs {
    .blog {
      h4 {
        text-align: $text-left;
      }
      p {
        text-align: $text-left;
      }
    }
  }
  .info {
    text-align: $text-left;
  }
}
.buttons {
  display: block;
}
