.buttons{
    color: #fff !important;
    background-color: #e2494c !important;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}
.cutom-btn{
    padding: 2px 5px;
    color: $red-color !important;
    background-color: #c7c3c39c !important;
    border: 1px solid $red-color;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    bottom: -14px;
}