footer {
    background-color: #c2c2c2;
    margin-top: 50px;
    padding: 50px 0 0;
  .cols-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  h3 {
    color: #444;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
  }
  .blogs {
    flex-basis: 35%;
    .blog {
      display: flex;
      align-items: center;
      padding: 10px;
      // margin-bottom: 10px;
      gap: 0 10px;
      img {
        width: 150px;
        max-width: 100%;
      }
      h4 {
        font-size: 18px;
        color: #e2494c;
        font-weight: bold;
        margin: 10px 0 0;
        text-align: $text-left;
      }
      p {
        text-align: $text-left;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: #888;
        line-height: 1.7;
      }
    }
  }
  .info {
    color: #fff;
    flex-basis: 30%;
    line-height: 2;
    color: #888;
    .email {
      color: $red-color;
    }
    h4 {
      margin: 0 0 2px;
      color: #666;
    }
  }
  .conatct {
    flex-basis: 30%;
    .input-f {
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 10px;
      border: none;
      border-radius: 5px;
      &:focus{
        outline: 1px solid $red-color;
      }
    }

    .sa {
      resize: none;
      height: 150px;
    }
  }
  .copyright{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid #cbcbcb;
    margin-top: 20px;
    color: #888;
  }
}