/*Start slider*/
.slider {
  q {
    font: {
      size: 20px;
      weight: bold;
      style: italic;
    }
    line-height: 1.7;
    display: block;
    text-align: center;
    color: #5d5d5d;
    width: 80%;
    margin: 30px auto;
    @include breakpiont(mobile) {
      width: 100%;
    }
  }
}
.carousel {
  margin: 30px 0 100px;
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -56px !important;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    li {
      box-sizing: content-box;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      width: 20px !important;
      height: 20px !important;
      border-radius: 50% !important;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: $gray-color !important;
      opacity: 0.5;
      border: 2px solid transparent !important;
      transition: opacity 0.6s ease;
      &.active {
        border-color: $gray-color !important;
        background-color: #fff !important;
      }
    }
  }
  .carousel-item {
    height: 400px !important;
  }
}
/*End slider*/
/*Start services*/
.services {
  .boxes {
    @extend %col-3;
    .box {
      background-color: #eee;
      padding: 20px;
      h2 {
        font: {
          size: 25px;
          weight: bold;
          text-align: $text-left;
        }
        color: #666;
      }
      p {
        color: #777;
        line-height: 1.7;
        text-align: $text-left;
      }
      a {
        color: $red-color;
        font-weight: bold;
        display: block;
        text-align: $text-left;
      }
    }
  }
}
/*End services*/
/*Start services*/
.clint {
  .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(198px, 1fr));
    gap: 30px;
    .box {
      position: relative;
      background-color: #eee;
      @include breakpiont(mobile) {
        &:last-of-type {
          display: none;
        }
      }
      img {
        max-width: 100%;
        @include breakpiont(mobile) {
          position: absolute;
          width: 80px;
          height: 80px;
          left: -6px;
          border-radius: 50%;
          top: -37px;
          border: 3px solid #fff;
        }
      }
      .box-body {
        padding: 10px;
        h2 {
          font: {
            size: 1rem;
            weight: normal;
          }
          color: #666;
          text-align: right;
        }
        p {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-align: $text-left;
        }
        a {
          color: $red-color;
          font-weight: bold;
          display: block;
          text-align: $text-left;
        }
      }
    }
  }
}
/*End services*/
/*Start portfolio*/
.portfolio {
  .boxes {
    @extend %col-3;
    .box {
      img {
        max-width: 100%;
      }
    }
  }
}
/*End porfolio*/
